<div class="container">
  <form #myForm="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Full Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="userObj.name"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="userObj.email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="userObj.password"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input
        type="number"
        class="form-control"
        name="phone"
        [(ngModel)]="userObj.phone"
      />
    </div>
    <button
      *ngIf="!isEdit"
      type="submit"
      (click)="addNewUser(myForm.value)"
      class="btn btn-primary"
    >
      Submit
    </button>
    <button
      *ngIf="isEdit"
      type="button"
      (click)="updateUser()"
      class="btn btn-info"
    >
      Update
    </button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">PassWord</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <button (click)="editUser(user)" class="btn btn-warning">Edit</button>
        </td>
        <td>
          <button (click)="delete(user)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
